<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peregrin Template App</title>
    <link rel="icon" type="image/ico" href="/public/favicon.ico">
    <link rel="stylesheet" href="./public/css/index.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="center">
      <h1>Hello Coder! 💖</h1>
      <div class="spacer"></div>
      <div class="templateBox">
        <p id="templateText">Template App made by Peregrin</p>
        <a href="https://www.github.com/peregrinn/">
        <img src="./public/img/GitHub-Mark-120px-plus.png" id="templateImage"></a>
        </div>
    </div>
  </body>
</html>
